:root {
    font-family: "Noto Sans", system-ui, -apple-system, sans-serif;
    font-size: 11pt;
    --mc-db: #004488 ;
    --mc-lb: #6699cc;
    --mc-dr: #994455;
    --mc-lr: #ee99aa;
    --mc-dy: #997700;
    --mc-ly: #eecc66;
    --mc-g1: #d7d7d7;
    --mc-g2: #bfbfbf;
    --mc-g3: #a6a6a6;
    --mc-g4: #8e8e8e;
    --mc-g5: #737373;
    --mc-g6: #575757;
    --text-color: black;
    --theme-color: var(--mc-dr);
    --comment-color: var(--mc-g3);
    --comment-hover: var(--mc-g6);
    --border-color: var(--mc-g6);
}

p:nth-child(1) {
    margin-top: 0em;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 11pt;
    color: var(--theme-color);
}

table code {
    color: var(--text-color);
    font-size: 0.9em;
}

/* Layout */

hr {
    border: none;
    border-bottom: 1px dotted;
}

#content {
    margin-bottom: 1em;
}

body {
    margin-right: 1em;
    margin-left: 1em;
}

#main {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#tab-bar {
    display: none;
}

#nav-toggle {
    display: inline;
}

.nav-bar {
    padding: 0;
    width 100%;
}

.nav-bar > ul {
    list-style-type: none;
    margin-left: 5px;
    border-left: 1px dotted var(--border-color);
}

.nav-bar a.nav-title {
    color: var(--text-color);
    margin-top: .5em;
    font-weight: 600;
    display: block;
}

#tab-bar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tab {
    margin-bottom: .25em;
    margin-top: .25em;
}

.tab.active + .nav-bar ul {
    padding-left: 1px;
}

.nav-bar a {
    text-decoration: none;
    color: var(--comment-color);
    display: block;
    padding-top: 0;
    padding-bottom: 0.2em;
    padding-left: 10px;
}

.nav-bar li a:hover {
    color: var(--comment-hover);
    box-shadow: -3px 0 0 var(--border-color);
}

.nav-bar li.active a {
    color: var(--theme-color);
    font-weight: 600;
    box-shadow: -3px 0 0 var(--theme-color);
}

.nav-bar li.active a:hover {
    color: var(--theme-color);
    font-weight: 600;
    box-shadow: -3px 0 0 var(--theme-color);
}

.header .tab {
    display: none;
}

@media only screen and (min-width: 600px) {
    #main {
        flex-direction: row;
    }

    #nav-toggle.lonely {
        display: none;
    }

    .header .tab {
        display: inline;
    }

    #tab-bar > ul > li > a {
        display: none;
    }

    #tab-bar > ul > li:not(.active) {
        display: none;
    }
    #tab-bar > ul > li:not(.active) + .nav-bar {
        display: none;
    }

    #tab-bar {
        margin: 0;
        padding: 0;
        flex-shrink: 0;
    }

    .nav-bar {
        margin-right: 1.5em;
    }

    .nav-bar ul {
        margin: 1em 0 0 0;
        padding: 0 1px 0 0;
        border-left: none;
        border-right: 1px dotted var(--border-color);
    }

    .nav-bar a {
        padding-right: 1.5em;
        padding-left: 0em;
        max-width: 100px;
    }

    .nav-bar li a:hover {
        color: var(--comment-hover);
        box-shadow: 3px 0 0 var(--border-color);
    }

    .nav-bar li.active a {
        box-shadow: 3px 0 0 var(--theme-color);
    }

    .nav-bar li.active a:hover {
        box-shadow: 3px 0 0 var(--theme-color);
    }

    #content {
        overflow: hidden;
        width: 100%;
    }
}

@media only screen and (min-width: 950px) {
    body {
        margin: auto;
        max-width: calc( 950px - 2em );
    }

    #tab-bar {
        display: block;
        margin-left: 0;
    }

    #nav-toggle {
        display: none;
    }
}

.tool svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: text-bottom;
    cursor: pointer;
}


#content h1 {
    border-bottom: 1px dotted;
    border-color: var(--border-color);
    font-size: 2em;
    font-weight: normal;
    margin-top: .25em;
}

#content h2 {
    font-size: 1.5em;
    font-weight: normal;
}

/* text colors */

a {
    color: var(--theme-color);
}

a:hover {
    color: var(--text-color);
}


.page {
    display: flex;
}

.page a {
    color: var(--comment-color);
    text-decoration: none;
}

.page a:hover {
    color: var(--comment-hover);
    text-decoration: none;
}

.page a > span {
    font-size: 1.2em;
}

.page-prev {
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1
}

.page-next {
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
}

.footer {
    border-top: 1px dotted;
    border-color: var(--border-color);
    font-size: 12px;
    color: var(--comment-color);
    text-align: center;
}

#logo {
    text-align: left;
    text-decoration: none;
}

.header ul {
    padding: 0;
    margin-bottom: 1em;
}

.header li {
    display: inline;
    padding-right: 15px;
    line-height: normal;
    border: none;
    font-size: 1em;
}

.header .tools {
    float: right;
    padding-right: 0;
}

.tab a {
    text-decoration-line: none;
    color: var(--comment-color);
}

.tab a:hover {
    text-decoration-line: none;
    color: var(--comment-hover);
}

.tab.active a {
    font-weight: 600;
    text-decoration-line: none;
    color: var(--theme-color)
}

#logo a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

#logo a:hover {
    color: var(--theme-color)
}

#logo a span {
    color: var(--theme-color)
}

#logo a:hover span {
    color: var(--text-color)
}


input[id='nav-chk'] {
    display: none;
}

.nav-menu svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: text-bottom;
    cursor: pointer;
}

.emojione {
    width: 1em;
    height: 1em;
}

input[id='nav-chk']:not(:checked)+.nav-bar {
    max-height: 100vh;
}

.tool svg {
    height: 1.2em;
    width: 1.2em;
    margin-left: 5px;
    color: var(--comment-color);
    display: inline-block;
    vertical-align: text-bottom;
}

.tool {
    text-decoration: none;
}

.tool span {
    display: none;
    color: var(--comment-hover);
    text-decoration: underline solid var(--comment-hover);
}

.tool:hover svg {
    color: var(--comment-hover);
}

.tool:hover span {
    display: inline;
}

.highlight {
    border: 1px dotted var(--border-color);
    padding: 10px;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
}

.doc .highlight {
    border: none;
    padding: 0;
}

.doc-contents {
    border-left: 1px dotted var(--border-color);
    padding-left:20px;
    margin-left: 5px;
}

.highlight pre {
    margin: 0;
}

.tabbed-set {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}

.tabbed-set>input {
    display: none;
}

.tabbed-set label {
    color: var(--comment-color);
    width: auto;
    padding: 5px 10px;
    margin-bottom: 1px;
    font-size: 0.9em;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
}

.tabbed-set label:hover {
    color: var(--comment-hover);
    box-shadow: 0 3px 0 var(--comment-hover);
}

.tabbed-set .tabbed-content {
    width: 100%;
    display: none;
    overflow: hidden;
}

.tabbed-set input {
    position: absolute;
    opacity: 0;
}

.tabbed-set input:checked:nth-child(n+1)+label {
    color: var(--theme-color);
    font-weight: 600;
    box-shadow: 0 3px 0 var(--theme-color);
}


@media screen {
    .tabbed-set input:nth-child(n+1):checked+label+.tabbed-content {
        order: 99;
        display: block;
        padding: 10px;
        border: 1px dotted var(--border-color);
    }
    .tabbed-set input:nth-child(n+1):checked+label+.tabbed-content > .highlight:only-child {
        border: none;
        padding: 10px;
        margin: -10px;
    }
}


.admonition {
    text-align: left;
    border: 3px solid;
}

.admonition > .admonition-title {
    text-align: left;
    border-bottom: 1px dotted;
    border-color: inerit;
}

.admonition a {
    color: inherit;
}

.admonition code {
    color: inherit;
}

.admonition a:hover {
    color: var(--text-color);
}

.admonition.note {
    color: var(--mc-db)
}

.admonition.note > .admonition-title {
}

.admonition.warning {
    color: var(--mc-dy);
}

.admonition.danger {
    color: var(--mc-dr)
}

.admonition > p.admonition-title {
    font-weight: 600;
    text-align: left;
    padding: .25em .5em;
    margin: 0;
}

.admonition > p {
    margin: .5em;
}

.admonition > div {
    margin: .5em;
}

blockquote {
    margin: 0;
}

blockquote>p {
    border: 3px solid;
    color: var(--mc-g6);
    padding: .5em;
}

table:not(.highlighttable) {
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-collapse: collapse;
    width: 100%;
}

table:not(.highlighttable) th {
    background: var(--mc-g1);
    text-align: left;
    font-weight: 600;
    font-size: 0.9em;
    padding: 5px 10px;
    white-space: nowrap;
}

table:not(.highlighttable) tr {
    border-top: 1px dotted var(--border-color);

}

table:not(.highlighttable) td {
    text-align: left;
    padding: 5px 10px;
    font-size: 0.9em;
    white-space: nowrap;
}

table:not(.highlighttable) td:first-of-type{
    font-weight: 600;
}

table:not(.highlighttable) td:last-of-type{
    width: 100%;
}

p {
    overflow-x: auto;
    scrollbar-width: thin;
}

details summary {
    margin-left: 0;
    margin-bottom: 1em;
}

.footnote > ol > li > p > sup:nth-child(1) {
    display: none;
}

.footnote > ol {
    padding-left: 0em;
    list-style-position: inside;
    font-size: 10pt;
    line-height: 1.25em;
}

.footnote > ol p {
    width: calc (100% - 2em);
    padding-left: 2em;
    margin-top: -1.25em;
    margin-bottom: .25em;
}

[data-linenos]:before {
    content: attr(data-linenos);
}

.arithmatex {
    overflow: auto;
}

.table-wrapper {
    overflow: auto;
    padding-bottom: 10px;
}

.highlight code {
    color: var(--text-color);
}
